.typeahead > input {
    font-size: 1em;
}

.typeahead > ul {
    display: none;
    width: 218px;
    border: 1px solid #c5c5c5;
    list-style: none;
    padding: 0;
    margin: 0;
    outline: 0;
    position: absolute;
    z-index: 100;

}

.typeahead > ul > li {
    margin: 0;
    cursor: pointer;
}

.typeahead > ul > li:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

.typeahead > ul > li > div {
    position: relative;
    padding: 3px 1em 3px .4em;
}
